clientApp.0.main=net.i2p.app.CorrectedShellService
clientApp.0.name=tahoe-lafs-i2p-client
clientApp.0.args=$PLUGIN/lib/tahoe-lafs-i2p-client -shellservice.name "tahoe-lafs-i2p-client" -shellservice.displayname "tahoe-lafs-i2p-client - " -conf "$PLUGIN/catbox-i2p.conf"
clientApp.0.delay=1
clientApp.0.startOnLoad=true
