name=tahoe-lafs-i2p-client
key=
signer=hankhill19580@gmail.com
version=0.0.1
license=AGPL
author=hankhill19580@gmail.com
websiteURL=http://idk.i2p/tahoe-lafs-i2p-client/
updateURL=http://idk.i2p/tahoe-lafs-i2p-client/tahoe-lafs-i2p-client.su3
description=desc
consoleLinkName=tahoe-lafs-i2p-client - 
disableStop=false
dont-start-at-install=false
router-restart-required=false
update-only=false
install-only=false
